section.new-catalog
    .container
        h1.new-h1 Воздушные форсунки

        .new-catalog__cols
            .new-catalog__col.filter._filter
                include _filter.pug

            .new-catalog__col._content
                include _sorting.pug

                .new-catalog__rows
                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                    ._old-price 2 453 563 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                    .new-catalog__row
                        .new-product
                            .new-product__col-virtual
                                a.new-product__img(href="#")
                                    picture
                                        source(type="image/webp" srcset="img/tmp/product-carousel@2x.webp 2x, img/tmp/product-carousel.webp 1x")
                                        source(type="image/png" srcset="img/tmp/product-carousel@2x.png 2x, img/tmp/product-carousel.png 1x")
                                        img(src="img/tmp/product-carousel.png" alt="" loading="lazy")
                                    span.new-product__labels
                                        span.new-product__label._blue Новинка
                                        span.new-product__label._yellow Скидка

                                .new-product__cols
                                    .new-product__small STANLEY
                                    .new-product__controls
                                        button(type="button")
                                            svg(width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.793 1C16.845 1 14.92 1.74712 13.5 3.02928C12.08 1.74712 10.155 1 8.206 1C4.165 1 1 4.01224 1 7.85872C1 10.0112 1.931 12.0924 3.931 14.4094C5.675 16.4308 8.105 18.5199 11.343 21.247L12.976 22.7941C13.121 22.9314 13.31 23 13.5 23C13.689 23 13.879 22.9314 14.024 22.7941L15.656 21.247C18.895 18.5199 21.323 16.4317 23.069 14.4094C25.068 12.0924 26 10.0112 26 7.85872C26 4.01224 22.834 1 18.793 1Z" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button(type="button")
                                            svg(width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(x="1" y="1" width="3" height="22" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="9" y="11" width="3" height="12" stroke="#A2A2A2" stroke-width="2")
                                                rect(x="17" y="5" width="3" height="18" stroke="#A2A2A2" stroke-width="2")

                                .new-product__rating
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")
                                    svg._empty(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.7634 5.32744L9.99932 8.17981C9.91794 8.26392 9.88047 8.38513 9.89902 8.50366L10.5368 12.5708C10.5837 12.8709 10.2858 13.0984 10.0311 12.9569L6.60767 11.0543C6.50661 10.9981 6.38549 10.9981 6.28444 11.054L2.83752 12.9573C2.58204 13.0984 2.28417 12.869 2.33299 12.5689L2.99195 8.50595C3.01125 8.3859 2.9734 8.26354 2.89089 8.17904L0.106335 5.32782C-0.101078 5.11562 0.0120908 4.74397 0.297473 4.69923L4.13688 4.09588C4.24929 4.07829 4.34694 4.00373 4.39728 3.89552L6.13228 0.204274C6.26059 -0.0687273 6.62962 -0.0679626 6.75679 0.205803L8.46795 3.89399C8.51867 4.00297 8.61632 4.07829 8.72948 4.09626L12.5712 4.69962C12.8562 4.74435 12.9693 5.11447 12.7634 5.32744" fill="#FFC129")

                                a.new-product__title(href="#") Аккумуляторная ударная дрель-шуруповерт SCH12S2

                            .new-product__col-virtual
                                .new-product__cols
                                    .new-product__small Есть в наличии
                                    .new-product__small Арт. EL_106724

                                .new-product__cols.new-product__price._page 799 059 ₽
                                .new-product__cols._last
                                    input.new-product__count(type="text" value="12")
                                    button.new-product__cart._full(type="button") В корзину

                include _pagination.pug