aside.new-filter
    button.new-filter__head(type="button") Подбор параметров

    form.new-filter__content(action="#" method="get")
        .new-filter__block
            button.new-filter__title._active(type="button") Цена

            .new-filter__block-content
                .new-filter__prices
                    input.new-filter__input(type="text" value="2 000 ₽" readonly)
                    input.new-filter__input(type="text" value="10 000 ₽" readonly)

                .new-filter__prices-default
                    span 120 ₽
                    span 39 000 ₽

                .new-filter__slider

                .new-filter__block-border

                .new-filter__checkbox
                    input(type="checkbox" id="products-sale")
                    label(for="products-sale")
                        span
                        | Товары со скидкой

                .new-filter__checkbox
                    input(type="checkbox" id="products-in-stock")
                    label(for="products-in-stock")
                        span
                        | Товары в наличии

        .new-filter__block
            button.new-filter__title(type="button") Производители
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Страна происхождения
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Ценовой сегмент
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Заменяет открытое сопло, мм
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Максимальная температура, &deg;C
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Диаметр соединения
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title._active(type="button") Материал
            .new-filter__block-content
                .new-filter__block-cols
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-1")
                        label(for="material-1")
                            span
                            | EPDM (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-2")
                        label(for="material-2")
                            span
                            | EPDM (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-3")
                        label(for="material-3")
                            span
                            | PEEK (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-4")
                        label(for="material-4")
                            span
                            | PEEK (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-5")
                        label(for="material-5")
                            span
                            | Zytel (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-6")
                        label(for="material-6")
                            span
                            | Zytel (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-7")
                        label(for="material-7")
                            span
                            | Алюминий (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-8")
                        label(for="material-8")
                            span
                            | Алюминий (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-9")
                        label(for="material-9")
                            span
                            | Нержавеющая сталь (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-10")
                        label(for="material-10")
                            span
                            | Нержавеющая сталь (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-11")
                        label(for="material-11")
                            span
                            | Никель (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-12")
                        label(for="material-12")
                            span
                            | Никель (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-13")
                        label(for="material-13")
                            span
                            | Цинк (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-14")
                        label(for="material-14")
                            span
                            | Цинк (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-15")
                        label(for="material-15")
                            span
                            | Цинк & Алюминий (98)
                    .new-filter__checkbox.new-filter__block-col
                        input(type="checkbox" id="material-16")
                        label(for="material-16")
                            span
                            | Цинк & Алюминий (98)

                    .new-filter__checkbox.new-filter__block-col._hidden
                        input(type="checkbox" id="material-17")
                        label(for="material-17")
                            span
                            | Скрытый материал 1
                    .new-filter__checkbox.new-filter__block-col._hidden
                        input(type="checkbox" id="material-18")
                        label(for="material-18")
                            span
                            | Скрытый материал 2

                button.new-filter__all(type="button") Показать все

        .new-filter__block
            button.new-filter__title(type="button") Сила обдува, н
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Объем потребляемого воздуха, м3/ч
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Тип соединения
            .new-filter__block-content 123

        .new-filter__block
            button.new-filter__title(type="button") Уровень шума, дб(а)
            .new-filter__block-content 123

        .new-filter__controls
            button.new-filter__button._submit(type="submit") Подобрать товар
            button.new-filter__button._reset(type="reset") Очистить фильтр