section.new-section._gray._hidden-mobile
    .container
        .new-section__wrap-title
            .new-section__title Производители
            a.new-section__link(href="#") Смотреть всех

        .new-section__content.new-manufacturers
            .new-section__carousel.new-manufacturers__carousel
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-1@2x.webp 2x, img/tmp/logo-1.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-1@2x.png 2x, img/tmp/logo-1.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-1.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-2@2x.webp 2x, img/tmp/logo-2.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-2@2x.png 2x, img/tmp/logo-2.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-2.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-3@2x.webp 2x, img/tmp/logo-3.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-3@2x.png 2x, img/tmp/logo-3.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-3.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-4@2x.webp 2x, img/tmp/logo-4.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-4@2x.png 2x, img/tmp/logo-4.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-4.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-5@2x.webp 2x, img/tmp/logo-5.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-5@2x.png 2x, img/tmp/logo-5.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-5.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-6@2x.webp 2x, img/tmp/logo-6.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-6@2x.png 2x, img/tmp/logo-6.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-6.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-1@2x.webp 2x, img/tmp/logo-1.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-1@2x.png 2x, img/tmp/logo-1.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-1.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-2@2x.webp 2x, img/tmp/logo-2.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-2@2x.png 2x, img/tmp/logo-2.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-2.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-3@2x.webp 2x, img/tmp/logo-3.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-3@2x.png 2x, img/tmp/logo-3.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-3.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-4@2x.webp 2x, img/tmp/logo-4.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-4@2x.png 2x, img/tmp/logo-4.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-4.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-5@2x.webp 2x, img/tmp/logo-5.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-5@2x.png 2x, img/tmp/logo-5.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-5.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров
                .new-section__slide
                    a(href="#").new-manufacturers__item
                        picture
                            source(type="image/webp" srcset="img/tmp/logo-6@2x.webp 2x, img/tmp/logo-6.webp 1x")
                            source(type="image/png" srcset="img/tmp/logo-6@2x.png 2x, img/tmp/logo-6.png 1x")
                            img.new-manufacturers__img(src="img/tmp/logo-6.png" loading="lazy" alt="")
                        .new-manufacturers__count 700 товаров

            .carousel-arrows._center._white
                button.carousel-arrows__item._prev(type="button")
                button.carousel-arrows__item._next(type="button")