section.new-section._gray._hidden-mobile
    .container
        .new-section__wrap-title
            .new-section__title Работаем для вас

        .new-section__content.new-our-work
            .new-section__carousel.new-our-work__carousel
                .new-section__slide
                    .new-services__item
                        .new-services__icon 22 года
                        | успешной работы на инструментальном рынке
                .new-section__slide
                    .new-services__item
                        .new-services__icon 150 000
                        | позиций инструмента и оборудования
                .new-section__slide
                    .new-services__item
                        .new-services__icon 5378
                        | производителей и брендов со всего мира
                .new-section__slide
                    .new-services__item
                        .new-services__icon 127
                        | высококвалифицированных сотрудников
                .new-section__slide
                    .new-services__item
                        .new-services__icon 1 735
                        | клиентов: промышленных и торговых компаний

            .carousel-arrows._center._white
                button.carousel-arrows__item._prev(type="button")
                button.carousel-arrows__item._next(type="button")