ul.new-pagination
    li.new-pagination__li._prev
        a.new-pagination__item._button(href="#")
    li.new-pagination__li
        a.new-pagination__item._active(href="#") 1
    li.new-pagination__li
        a.new-pagination__item(href="#") 2
    li.new-pagination__li
        a.new-pagination__item(href="#") 3
    li.new-pagination__li
        a.new-pagination__item(href="#") 4
    li.new-pagination__li
        a.new-pagination__item(href="#") 5
    li.new-pagination__li._next
        a.new-pagination__item._button(href="#")