section.new-section.new-pos._pos-4
    .container
        .new-section__wrap-title
            .new-section__title Популярные категории
            a.new-section__link._visible-mobile(href="#") Смотреть все

        .new-section__content.new-popular
            .new-section__carousel.new-popular__carousel
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-1@2x.webp 2x, img/tmp/popular-1.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-1@2x.png 2x, img/tmp/popular-1.png 1x")
                                    img(src="img/tmp/popular-1.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Электроинструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-2@2x.webp 2x, img/tmp/popular-2.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-2@2x.png 2x, img/tmp/popular-2.png 1x")
                                    img(src="img/tmp/popular-2.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Газопламенный, сварочный инструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-3@2x.webp 2x, img/tmp/popular-3.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-3@2x.png 2x, img/tmp/popular-3.png 1x")
                                    img(src="img/tmp/popular-3.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Слесарно-монтажный инструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-4@2x.webp 2x, img/tmp/popular-4.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-4@2x.png 2x, img/tmp/popular-4.png 1x")
                                    img(src="img/tmp/popular-4.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Тигли графитовые
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-5@2x.webp 2x, img/tmp/popular-5.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-5@2x.png 2x, img/tmp/popular-5.png 1x")
                                    img(src="img/tmp/popular-5.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Слесарно-монтажный инструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-1@2x.webp 2x, img/tmp/popular-1.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-1@2x.png 2x, img/tmp/popular-1.png 1x")
                                    img(src="img/tmp/popular-1.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Электроинструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-2@2x.webp 2x, img/tmp/popular-2.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-2@2x.png 2x, img/tmp/popular-2.png 1x")
                                    img(src="img/tmp/popular-2.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Газопламенный, сварочный инструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-3@2x.webp 2x, img/tmp/popular-3.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-3@2x.png 2x, img/tmp/popular-3.png 1x")
                                    img(src="img/tmp/popular-3.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Слесарно-монтажный инструмент
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-4@2x.webp 2x, img/tmp/popular-4.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-4@2x.png 2x, img/tmp/popular-4.png 1x")
                                    img(src="img/tmp/popular-4.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Тигли графитовые
                        .new-popular__count 700 товаров
                .new-section__slide.new-popular__slide
                    .new-popular__item
                        .new-popular__col-vurtual
                            .new-popular__img
                                picture
                                    source(type="image/webp" srcset="img/tmp/popular-5@2x.webp 2x, img/tmp/popular-5.webp 1x")
                                    source(type="image/png" srcset="img/tmp/popular-5@2x.png 2x, img/tmp/popular-5.png 1x")
                                    img(src="img/tmp/popular-5.png" loading="lazy" alt="")
                            a.new-popular__title(href="#") Слесарно-монтажный инструмент
                        .new-popular__count 700 товаров

            .carousel-arrows._center
                button.carousel-arrows__item._prev(type="button")
                button.carousel-arrows__item._next(type="button")