section.new-section.new-pos._pos-3._visible-mobile
    .container
        .new-section__wrap-title
            .new-section__title Рекомендуем
            a.new-section__link(href="#") Смотреть все

        .new-section__content.new-recomended
            .new-section__carousel.new-recomended__carousel
                .new-section__slide
                    article.new-home-tabs__item._no-border
                        .new-home-tabs__col-virtual
                            a.new-home-tabs__img(href="#")
                                picture
                                    source(type="image/webp" srcset="img/tmp/home-tabs-item@2x.webp 2x, img/tmp/home-tabs-item.webp 1x")
                                    source(type="image/png" srcset="img/tmp/home-tabs-item@2x.png 2x, img/tmp/home-tabs-item.png 1x")
                                    img(src="img/tmp/home-tabs-item.png" alt="" loading="lazy")
                            a.new-home-tabs__title(href="#") Наконечник контактный 1.2мм для Magnum 200/400 FM

                        .new-home-tabs__controls
                            .new-home-tabs__price 49.80 ₽
                            button.new-home-tabs__to-cart(type="button")
                                img(src="img/to-cart.svg" alt="")
                .new-section__slide
                    article.new-home-tabs__item._no-border
                        .new-home-tabs__col-virtual
                            a.new-home-tabs__img(href="#")
                                picture
                                    source(type="image/webp" srcset="img/tmp/home-tabs-item@2x.webp 2x, img/tmp/home-tabs-item.webp 1x")
                                    source(type="image/png" srcset="img/tmp/home-tabs-item@2x.png 2x, img/tmp/home-tabs-item.png 1x")
                                    img(src="img/tmp/home-tabs-item.png" alt="" loading="lazy")
                            a.new-home-tabs__title(href="#") Наконечник контактный

                        .new-home-tabs__controls
                            .new-home-tabs__price 49.80 ₽
                            button.new-home-tabs__to-cart(type="button")
                                img(src="img/to-cart.svg" alt="")
                .new-section__slide
                    article.new-home-tabs__item._no-border
                        .new-home-tabs__col-virtual
                            a.new-home-tabs__img(href="#")
                                picture
                                    source(type="image/webp" srcset="img/tmp/home-tabs-item@2x.webp 2x, img/tmp/home-tabs-item.webp 1x")
                                    source(type="image/png" srcset="img/tmp/home-tabs-item@2x.png 2x, img/tmp/home-tabs-item.png 1x")
                                    img(src="img/tmp/home-tabs-item.png" alt="" loading="lazy")
                            a.new-home-tabs__title(href="#") Наконечник контактный 1.2мм для Magnum 200/400 FM

                        .new-home-tabs__controls
                            .new-home-tabs__price 49.80 ₽
                            button.new-home-tabs__to-cart(type="button")
                                img(src="img/to-cart.svg" alt="")
                .new-section__slide
                    article.new-home-tabs__item._no-border
                        .new-home-tabs__col-virtual
                            a.new-home-tabs__img(href="#")
                                picture
                                    source(type="image/webp" srcset="img/tmp/home-tabs-item@2x.webp 2x, img/tmp/home-tabs-item.webp 1x")
                                    source(type="image/png" srcset="img/tmp/home-tabs-item@2x.png 2x, img/tmp/home-tabs-item.png 1x")
                                    img(src="img/tmp/home-tabs-item.png" alt="" loading="lazy")
                            a.new-home-tabs__title(href="#") Наконечник контактный 1.2мм для Magnum 200/400 FM

                        .new-home-tabs__controls
                            .new-home-tabs__price 49.80 ₽
                            button.new-home-tabs__to-cart(type="button")
                                img(src="img/to-cart.svg" alt="")

            .carousel-arrows._center
                button.carousel-arrows__item._prev(type="button")
                button.carousel-arrows__item._next(type="button")
