.new-sorting
    .new-sorting__cols
        .new-sorting__col._left
            .new-sorting__block Сортировать по:
                .new-sorting__values
                    a.new-sorting__value._sort(href="#") Наименованию
                        svg(width="5" height="12" viewBox="0 0 5 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            rect(x="2.87549" width="11.3966" height="0.848643" rx="0.424322" transform="rotate(90 2.87549 0)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(-0.733679 0.679496 -0.733679 -0.679496 4.80005 9.77686)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(0.733679 0.679496 -0.733679 0.679496 0.600098 9.22119)" fill="#BB0E00")
                    a.new-sorting__value._sort(href="#") Производителю
                        svg(width="5" height="12" viewBox="0 0 5 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            rect(x="2.87549" width="11.3966" height="0.848643" rx="0.424322" transform="rotate(90 2.87549 0)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(-0.733679 0.679496 -0.733679 -0.679496 4.80005 9.77686)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(0.733679 0.679496 -0.733679 0.679496 0.600098 9.22119)" fill="#BB0E00")
                    a.new-sorting__value._active._asc._sort(href="#") Цене
                        svg(width="5" height="12" viewBox="0 0 5 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            rect(x="2.87549" width="11.3966" height="0.848643" rx="0.424322" transform="rotate(90 2.87549 0)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(-0.733679 0.679496 -0.733679 -0.679496 4.80005 9.77686)" fill="#BB0E00")
                            rect(width="3.27163" height="0.817907" rx="0.408954" transform="matrix(0.733679 0.679496 -0.733679 0.679496 0.600098 9.22119)" fill="#BB0E00")

            .new-sorting__block Показывать по:
                .new-sorting__values
                    a.new-sorting__value._count(href="#") 10
                    a.new-sorting__value._count._active(href="#") 30
                    a.new-sorting__value._count(href="#") 50
                    a.new-sorting__value._count(href="#") Все

        .new-sorting__col._right
                a.new-sorting__view(href="#")
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(x="1" y="1" width="20" height="4.7619" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                        rect(x="1" y="8.61914" width="20" height="4.7619" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                        rect(x="1" y="16.2383" width="20" height="4.7619" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                a.new-sorting__view._active(href="#")
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(x="12.4286" y="1" width="8.57143" height="8.57143" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                        rect(x="1" y="1" width="8.57143" height="8.57143" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                        rect(x="12.4286" y="12.4287" width="8.57143" height="8.57143" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")
                        rect(x="1" y="12.4287" width="8.57143" height="8.57143" stroke="#989898" stroke-linecap="round" stroke-linejoin="round")

